body {
    font-family: Arial, sans-serif;
    background-color: #171818;
    color: white;
    margin: 0;
}
.header {
    background-color: #171818;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
    margin-right: 30px;
}
nav {
    border-top: 5px solid #86a2b1;
    background-color: #384044;
    display: flex;
    gap: 20px;
    height:40px;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    margin: 5px;
    padding-left: 30px;
}
.auth-buttons {
    display: flex;
    gap: 10px;
}
.auth-buttons button {
    background-color: #444;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}
.auth-buttons button:hover {
    background-color: #666;
}
h6{
    margin: 0px;
}
h1{
    margin: 2px;
}

.barra{
    margin-top: 20px;
    width: 700px;
    height: 30px;
    background-color: #393939; 
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);
}

.p1{
    color: grey;
}

.fa-solid{
    margin-left: 10px;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}