body {
    font-family: Arial, sans-serif;
    background-color: #171818;
    color: white;
    margin: 0;
}
.header {
    background-color: #171818;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 100px;
    margin-right: 30px;
}
nav {
    border-top: 5px solid #86a2b1;
    background-color: #384044;
    display: flex;
    gap: 20px;
    height:40px;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    margin: 5px;
    padding-left: 30px;
}
.auth-buttons {
    display: flex;
    gap: 10px;
}
.auth-buttons button {
    background-color: #444;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}
.auth-buttons button:hover {
    background-color: #666;
}
h6{
    margin: 0px;
}
h1{
    margin: 2px;
}

.barra{
    margin-top: 20px;
    width: 700px;
    height: 40px;
    background-color: #393939; 
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);

}

.bar_text{
    border: 0;
    background-color: #393939; 
    text-decoration: none;
    width: 650px;
    font-size: 18px;
}

.bar_text[type="text"]:focus {
    outline: none;
    box-shadow: none; 
}

.product_box{
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

.fa-solid{
    margin-left: 10px;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.profile_box{
    color: black;
    width: 300px;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #EAEAEA;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
}

.img_profile{
    border-radius: 0.5em;
    margin-top: 7px;
    box-shadow: 0px 0px 3px 2px rgb(61, 60, 60);
}

.boton-logout {
    background-color: #384044; /* Color de fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    border: 1px solid #555; /* Borde gris oscuro */
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
   
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 0.5em;
    margin-bottom: 15px;
}

.boton-logout:hover {
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.boton-logout:active {
    background-color: #333; /* Color de fondo más oscuro al hacer clic */
    transform: scale(0.95); /* Pequeña contracción al hacer clic */
}

.boton-mod {
    background-color: #384044; /* Color de fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    border: 1px solid #555; /* Borde gris oscuro */
    padding: 10px 20px;
    font-size: 10.5px;
    font-weight: bold;
    
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 0.5em;
  
}

.boton-mod:hover {
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.boton-mod:active {
    background-color: #333; /* Color de fondo más oscuro al hacer clic */
    transform: scale(0.95); /* Pequeña contracción al hacer clic */
}

.login_box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 40%;
    margin-right: 40%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
    text-align: center;
}

.cart_box{    
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 40%;
    margin-right: 40%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
    text-align: center;}

.login_inputs{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px;
}

.mail_h4{
    margin-right: 115px;
}
.contra_h4{
    margin-right: 80px;
}
.login_btn{
    background-color: #171818;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.login_btn:hover{
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.login_txt{
    text-decoration: none;
    color: #171818;
}
.login_txt:hover{
    text-decoration: underline;

}
.txt_box{
    padding-top: 10px;
    padding-bottom: 20px;
}


.register_box{
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 40%;
    margin-right: 40%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}

.register_btn{
    background-color: #171818;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.register_btn:hover{
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.login_inputs{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px;
}

.products_inputs{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px;
}



.product_box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 40%;
    margin-right: 40%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
}

.logout_txt{
    text-decoration: none;
    color: #EAEAEA;
}
.logout_txt:hover{
    text-decoration: underline;
}


.caja-producto{
    height: 420px;
    width: 370px;
    background-color: #384044;
    box-shadow: 0px 10px 20px 3px rgb(3, 3, 3);
    border-radius: 0.5em;
}

.productos{
    margin: 20px;
    gap: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: auto;

}

.fotito{
    margin-top: 16px;
    width: 330px;
    height: 250px;
    border-radius: 0.5em;
}

.fotito2{
    margin-top: 16px;
    border-radius: 0.5em;
}

.fotito3{
    box-shadow: 0px 0px 12px 0px rgb(61, 60, 60);
    border-radius: 0.5em;
}

.descripcion-producto{
    border-radius: 0.5em;
    justify-content: center;
    text-align: center;
}

.boton-comprar {
    background-color: #384044; /* Color de fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    border: 1px solid #555; /* Borde gris oscuro */
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 0.5em;
}

.boton-comprar:hover {
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.boton-comprar:active {
    background-color: #333; /* Color de fondo más oscuro al hacer clic */
    transform: scale(0.95); /* Pequeña contracción al hacer clic */
}
.nombre_zapa{
    font-size: 20px;
}

.precio{
    font-weight: bold;
}

.file-label {
    display: inline-block;
    background-color: #444; /* Color de fondo del botón */
    color: #fff; /* Color de texto */
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 1px solid #555; /* Borde gris oscuro */
}

.file-input {
    display: none; /* Oculta el input real */
}

.file-label:hover {
    background-color: #666; /* Color de fondo más claro en hover */
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}
.mod-form{
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 35%;
    margin-right: 35%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-top: 10px;
}

.mod-inputs{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px;
    margin-bottom: 15px;
}

.mod_btn{
    background-color: #171818;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
   margin-top: 10px;
}
.mod_btn:hover{
    background-color: #666;
    transform: scale(1.05); 
}
.errors-form{
    font-family: Arial, sans-serif;
    text-size-adjust: 10px;
    margin-top: 5px;
    color: #ff0303;
    font-size: small;
}
footer{
    height: 100px;
    background-color: #384044;
    margin-top: 20px;
    height: 100%;
    color: black;
    text-align: center;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    align-items: center;
}

.products_inputs2[type="number"]{
    width: 50px; 
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    background-color: #384044; 
    border: 1px solid #746e6e; 
    border-radius: 5px; 
    border-color: #171818;
    outline: none; 
    text-align: center; 
    transition: border-color 0.3s;
    
}

.products_inputs2[type="number"]:focus {
    border-color: #777; 
}


.products_inputs[type="number"]{
    width: 50px; 
    padding: 5px;
    font-size: 16px;
    color: #000000;
    background-color: #EAEAEA; 
    border: 1px solid #746e6e; 
    border-radius: 5px; 
    border-color: #171818;
    outline: none; 
    text-align: center; 
    transition: border-color 0.3s;
    
}

.products_inputs[type="number"]:focus {
    border-color: #777; 
}

.pay-box{
    width: 350px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    line-height: normal;
    background-color: #EAEAEA;
    margin-left: 40%;
    margin-right: 40%;
    color: #171818;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    margin-bottom: 11.21%;
}

.pay_select{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px; 
    width: 270px;
    padding-top: 10px;
    margin: 10px;

}

.pay_inputs{
    border-color: #171818;
    border-radius: 1em;
    background-color: #EAEAEA;
    padding: 8px; 
    width: 250px;
    padding-top: 10px;
    margin: 10px;

}
.pay_btn{
    margin-top: 20px;
    margin-bottom: 10%;
    padding-bottom: 20px;
    background-color: #171818;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
    
   
}
.pay_btn:hover{
    background-color: #666; 
    transform: scale(1.05); 
}

