<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>
    <div class="contenedor">
        <div class="barra">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p class="p1">Tu próximo par te espera...</p>
            <p>asas</p>
        </div>
    </div>
</body>

</html>