<footer>
    <div class="container-footer">

        <div class="img-footer">
            <img src="/img/main/adidas.png" alt="" width="90px">
        </div>

        <div class="img-footer">
            <img src="/img/main/nike.png" alt="" width="110px">
        </div>

        <div class="img-footer">
            <img  src="/img/main/jordan.png" alt="" width="100px">
        </div>

        <div class="img-footer">
            <img  src="/img/main/marvel.svg" alt="" width="90px">
        </div>

        <div class="img-footer">
            <img src="/img/main/play.png" alt="" width="130px">
        </div>
    </div>
    ©2024 Llantitas. Todos los derechos reservados
    
</footer> 
