<header>
    <div class="header">
        <div class="logo">
            <a href="/"><img src="/img/main/llantitas.svg" alt="Llantitas Logo"></a>
            <div>
                <h1>Llantitas</h1>
                <h6>La pagina de compra y venta mas grande de Jujuy</h6>
            </div>
        </div>
        <% if(!showLinks){ %>
        <div class="auth-buttons">
            <a href="/user/register"><button>Registrarse</button></a>
            <a href="/user/login"><button>Iniciar sesión</button></a>
        </div>
        <% } %>
        <% if(showLinks){ %>
        <div class="auth-buttons">
            <a href="/user/MyProfile/<%= idUsuario %>"><button>Mi cuenta</button></a>
        </div>
        <% } %>

    </div>
    <nav>
        <a href="/">Inicio</a>
        <a href="#">Productos</a>
        <a href="/product/sell">Vender</a>
    </nav>
</header>