<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <div>
        <form class="mod-form"
        action="/user/edit/<%=idUsuario%>?_method=put"
        method="post"
        enctype="multipart/form-data">
        <label for="">Cambiar nombre de usuario</label>
        <input type="text" name="username" id="" class="mod-inputs">
        <label for="">Cambiar foto de perfil</label>
        <input type="file" name="image" id="" accept="image/*" class="mod-inputs">
        <label for="">Cambiar Email</label>
        <input type="email" name="email" id="" class="mod-inputs">
        <label for="">Cambiar Contraseña</label>
        <input type="password" name="password" id="" class="mod-inputs">
        <input type="submit" value="MODIFICAR" class="mod_btn">
        </form>
    </div>
</body>
</html>