<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <form action="">
        <div class="login_box">

            <h3>Iniciar sesión</h3>
            ————————————————
            <h4 class="mail_h4">E-mail</h4>
            <input class="login_inputs" type="email" name="email">

            <h4 class="contra_h4">Contraseña</h4>
            <input class="login_inputs" type="password" name="contraseña">


            <button class="login_btn">Completar</button>

            <div class="txt_box">
                <strong>¿No tienes una cuenta?</strong> <br>
                <a class="login_txt" href="/user/register"><strong>Clic aqui para registrarse</strong></a>
            </div>

        </div>
    </form>

</body>

</html>