<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>

    <form action="/user/login" method="POST">
        <div class="login_box">

            <h3>Iniciar sesión</h3>
            <p style="margin-top: 0px; font-weight: 100;">————————————————</p>
            <p2>Email</p2>
            <input class="login_inputs" type="email" name="email">
            <% if (locals.errors && errors.email) { %>
                <div class="errors-form">
                    <%= errors.email.msg %>
                </div>
            <% } %><br>
            <p2>Contraseña</p2>
            <input class="login_inputs" type="password" name="password">
            <% if (locals.errors && errors.password) { %>
                <div class="errors-form">
                    <%= errors.password.msg %>
                </div>
            <% } %>

            <input class="login_btn" type="submit" value="Iniciar Sesion">

            <div class="txt_box">
                <strong>¿No tienes una cuenta?</strong> <br>
                <a class="login_txt" href="/user/register"><strong>Clic aqui para registrarse</strong></a>
            </div>

        </div>
    </form>

</body>

</html>