<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    
    <form class="register-form" action="/user/register" method="POST" enctype="multipart/form-data">

        <div class="register_box">
            <h3>Registrarse</h3>
            ————————————————
        <label for="userName"><h4>Username</h4></label>
        <input class="login_inputs" type="text" id="userName" name="userName" required />
    
        <label for="email"><h4>Correo Electrónico</h4></label>
        <input class="login_inputs"  type="email" id="email" name="email" required />
    
        <label for="password"><h4>Contraseña</h4></label>
        <input class="login_inputs" type="password" id="password" name="password" required />
    
        <label for="image"><h4>Foto de perfil</h4></label>
        <input type="file" id="image" name="image" accept="image/*" required />
    
        <input class="register_btn" type="submit" value="Registrarse">
    </div>
    </form>

</body>

</html>